In [30]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import seaborn as sb

In [14]:
column_names = ['ID', 'Diagnosis','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30']
df = pd.read_csv("../data/wdbc.data")
df.columns = column_names
df.head()

,ID,Diagnosis,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,30
0,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
1,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
2,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
3,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
4,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.1578,0.08089,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440

In [29]:
# Test dataframe
df1 = df.loc[df.Diagnosis == 'M'][:30]
df2 = df.loc[df.Diagnosis == 'B'][:50]
testDf = pd.concat([df1, df2])

# Training dataframe
df3 = df.loc[df.Diagnosis == 'M'][30:]
df4 = df.loc[df.Diagnosis == 'B'][50:]
trainingDf = pd.concat([df3,df4])

80
488
568

## Making the Scatter Plots

In [ ]:
scatterDf = df.copy(deep=True)
# Changing the M and B classifications to 1 and 0 respectively
scatterDf.loc[scatterDf.Diagnosis == 'M', 'Diagnosis'] = 1
scatterDf.loc[scatterDf.Diagnosis == 'B', 'Diagnosis'] = 0
sb.pairplot(scatterDf, vars=column_names, hue="Diagnosis")